header{
 text-align:center;
}

.searchbox {
 margin:20px;
}

#input{
 padding: 10px;
 font-size: 17px;
 border: 1px solid grey;
 width: 30%;
 background: #f1f1f1;
 max-width:300px;
}

#searchBtn{
 width: 90px;
 padding: 10px;
 background: #2196F3;
 color: white;
 font-size: 17px;
 border: 1px solid grey;
 cursor: pointer;
}

#searchBtn:hover {
 background: #0b7dda;
}

#isLoading{
 text-align: center;
}